<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /filo_takip/
  
  # Varolan dosya ve dizinleri pas geç
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  
  # Ana yönlendirme kuralı
  RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule> 